<article class="sidebar">
  <h1 class="sidebar-title">Artwork on display</h1>
  <p class="sidebar-body">
    While you explore books, head over to our websites of authors where you can check out some of their recent work.
  </p>
  <div class="pixgrid clearfix">
    <% artwork.forEach(function (item, key) {%>
    <img src="/images/artwork/<%=item%>" alt="Artwork <%=key%>" />
    <%})%>
  </div>
</article>
