<%- include('./partials/topSpeakers') %>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <article class="article maincontent">
        <h1>What's this for ?</h1>
        <p>
          The website gives a list of authors and their work in recent times. It gives the details of the books
          they have written and the work in progress. It's mainly a handy resource for a beginner reader to look
          for a book and get stated with reading it. It helps people to cultivate the habit of book reading.
        </p>
        <p>
          Each author has his own line of books. There are various sections grouped by authors. the genre varies from
          mythology, scifi, romantic movies etc.
        </p>
      </article>
      <article class="article maincontent">
        <h2 class="article-title">Get Busy!</h2>
        <p>
          If you want to keep up with what's going on with the authors listed, you can just skim through their blogs
          <a href="https://markmanson.net/">Mark Manson</a>,
          <a href="https://www.authoramish.com/">Amish Tripati</a>,
          <a href="http://www.chetanbhagat.com/books/">Chetan Baghat</a>. 

        </p>
      </article>
    </div>

    <aside class="col-md-4">
      <article class="sidebar">
        <h1 class="sidebar-title">Who should visit?</h1>
        <ul class="sidebar-body">
          <li>Anybody interested to start book reading, but struggling with where and what? This place is for you</li>
          <li>Personality development, Mythology, Romantic </li>
          <li>
            Those intersted to cultivate new habbit of book-reading.
          </li>
        </ul>
      </article>
      <%- include('./partials/artwork') %>
    </aside>
  </div>
</div>
